footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--blue-green);
  min-height: 10vh;
  margin-top: auto;
}
.form-footer {
  margin: 10px 16px 16px 0;
}
.form-footer h3 {
  color: var(--orange);
  text-align: center;
}
input,
button {
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 3px;
}
input {
  margin: 5px 0 10px;
  font-size: 1rem;
}
footer button {
  background-color: var(--blue-green);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--lightgrey);
  border: 2px solid;
}
footer button:hover {
  color: var(--orange);
}
footer p {
  font-size: 1.2rem;
  margin: 0 10px;
  color: var(--lightgrey);
}
