/* -------index------------ */
.grid-parent {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 5vh;
  grid-auto-rows: auto;
  grid-template-areas:
    "one "
    "two"
    "three"
    "four";
}
.grid-parent :nth-child(1) {
  grid-area: one;
}
.grid-parent :nth-child(2) {
  grid-area: two;
}
.grid-parent :nth-child(3) {
  grid-area: three;
}
.grid-parent :nth-child(4) {
  grid-area: four;
}
.gird-programs {
  display: grid;
  gap: 1.5rem;
  margin: 5vw 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
}
.box-programs:nth-child(1) {
  grid-area: one;
}
.box-programs:nth-child(2) {
  grid-area: two;
}
.box-programs:nth-child(3) {
  grid-area: three;
}
.box-programs:nth-child(4) {
  grid-area: four;
}
.box-programs:nth-child(5) {
  grid-area: five;
}
/* ------------exhibition-info------------ */
.grid-exhibition-info {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 5vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}
.grid-exhibition-info :nth-child(1) {
  grid-area: one;
}
.grid-exhibition-info :nth-child(2) {
  grid-area: two;
}
.grid-exhibition-info :nth-child(3) {
  grid-area: three;
}
.grid-exhibition-info :nth-child(4) {
  grid-area: four;
}
.grid-about {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 5vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
}
.grid-about :nth-child(1) {
  grid-area: one;
}
.grid-about :nth-child(2) {
  grid-area: two;
}
.grid-about :nth-child(3) {
  grid-area: three;
}
.grid-about :nth-child(4) {
  grid-area: four;
}
.grid-about :nth-child(5) {
  grid-area: five;
}
@media screen and (min-width: 500px) {
  .grid-parent {
    display: grid;
    margin: 0 5vw 5vh;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "one two"
      "three three"
      "four four";
  }
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    border-radius: 1rem;
  }
  .grid-exhibition-info {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw 5vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "one two"
      "three four";
  }
  .box-bigone img,
  .box-bigtwo img {
    border-radius: 1rem;
  }
  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one two"
      "three four"
      "five five";
  }
}
@media screen and (min-width: 880px) {
  .grid-parent {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "one three"
      "four four";
  }

  .grid-parent .card-one {
    background-position: top;
  }
  /* ------------get involved---------- */
  .grid-get-involved {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw 5vw 5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
  }
  .grid-get-involved :nth-child(1) {
    grid-area: one;
  }
  .grid-get-involved :nth-child(2) {
    grid-area: two;
  }
  /* --------programs----------- */
  .gird-programs {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw 5vh 5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "three three"
      "four five";
  }
  .box-programs img {
    border-radius: 1rem;
  }
  .box-programs .long-img {
    object-position: top;
  }

  .grid-exhibition-info {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "three one four"
      "three two four";
  }
}
@media screen and (min-width: 1100px) {
  .grid-about {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one three five"
      "two four five";
  }
  .grid-about :nth-child(1) {
    grid-area: one;
  }
  .grid-about :nth-child(2) {
    grid-area: two;
  }
  .grid-about :nth-child(3) {
    grid-area: three;
  }
  .grid-about :nth-child(4) {
    grid-area: four;
  }
  .grid-about :nth-child(5) {
    grid-area: five;
  }
}
