/* -------index------------ */
.grid-parent {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: auto;
  grid-template-areas:
    "one "
    "two"
    "three"
    "four";
}

.card-one {
  grid-area: one;
}
.card-two {
  grid-area: two;
}
.card-three {
  grid-area: three;
}
.card-four {
  grid-area: four;
}

/* ------------exhibition-info------------ */
.grid-exhibition-info {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 0.2fr 0.2fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}
.grid-exhibition-info :nth-child(1) {
  grid-area: one;
}
.grid-exhibition-info :nth-child(2) {
  grid-area: two;
}
.grid-exhibition-info :nth-child(3) {
  grid-area: three;
}
.grid-exhibition-info :nth-child(4) {
  grid-area: four;
}

.grid-about {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
}
.grid-about :nth-child(1) {
  grid-area: one;
}
.grid-about :nth-child(2) {
  grid-area: two;
}
.grid-about :nth-child(3) {
  grid-area: three;
}
.grid-about :nth-child(4) {
  grid-area: four;
}
.grid-about :nth-child(5) {
  grid-area: five;
}

@media screen and (min-width: 500px) {
  .grid-exhibition-info {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one one two"
      "one one two"
      "three  four";
  }
  .grid-about {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "one two"
      "three four"
      "five five";
  }
}

@media screen and (min-width: 880px) {
  .grid-parent {
    display: grid;
    gap: 1.5rem;
    margin: 0 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "one three"
      "four four";
  }

  /* ------------get involved---------- */
  .grid-get-involved {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
  }
  .grid-get-involved :nth-child(1) {
    grid-area: one;
  }
  .grid-get-involved :nth-child(2) {
    grid-area: two;
  }
  /* --------programs----------- */
  .gird-programs {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      "one two"
      "three three"
      "four five";
  }
  .box-programs:nth-child(1) {
    grid-area: one;
  }
  .box-programs:nth-child(2) {
    grid-area: two;
  }
  .box-programs:nth-child(3) {
    grid-area: three;
  }
  .box-programs:nth-child(4) {
    grid-area: four;
  }
  .box-programs:nth-child(5) {
    grid-area: five;
  }
  .grid-exhibition-info {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 0.8fr;
    grid-template-areas:
      "one one two"
      "one one two"
      "three four two";
  }
}

@media screen and (min-width: 1100px) {
  .grid-about {
    display: grid;
    gap: 1.5rem;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "one three five"
      "two four five";
  }
  .grid-about :nth-child(1) {
    grid-area: one;
  }
  .grid-about :nth-child(2) {
    grid-area: two;
  }
  .grid-about :nth-child(3) {
    grid-area: three;
  }
  .grid-about :nth-child(4) {
    grid-area: four;
  }
  .grid-about :nth-child(5) {
    grid-area: five;
  }
}
