.grid-parent {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: auto;
  grid-template-areas:
    "one "
    "two"
    "three"
    "four";
}

.card-one {
  grid-area: one;
}
.card-two {
  grid-area: two;
}
.card-three {
  grid-area: three;
}
.card-four {
  grid-area: four;
}

@media screen and (min-width: 880px) {
  .grid-parent {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "one two"
      "one three"
      "four four";
  }
  main {
    margin: 5%;
  }

  .grid-get-involved {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
  }
  .grid-get-involved :nth-child(1) {
    grid-area: one;
  }
  .grid-get-involved :nth-child(2) {
    grid-area: two;
  }

  .gird-programs {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    grid-template-areas:
      "one two"
      "three three"
      "four five";
  }
  .box-programs:nth-child(1) {
    grid-area: one;
  }
  .box-programs:nth-child(2) {
    grid-area: two;
  }
  .box-programs:nth-child(3) {
    grid-area: three;
  }
  .box-programs:nth-child(4) {
    grid-area: four;
  }
  .box-programs:nth-child(5) {
    grid-area: five;
  }
}
