header {
  background-color: var(--blue-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 64px;
  padding: 0 5vw;
}
.nav-list ul {
  display: flex;
  flex-direction: column;
}
header img {
  width: min(80vw, 250px);
}
.conteiner-logo {
  padding-top: 16px;
}
.nav-list a {
  font-family: AGENCYR;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: var(--lightgrey);
}
.nav-list a:hover {
  color: var(--orange);
}
li {
  text-decoration: none;
  display: inline-block;
  margin: 16px 0rem;
}
ul {
  list-style-type: none;
}
nav .nav-link-color {
  color: var(--orange);
}

@media screen and (min-width: 400px) {
  .nav-list ul {
    flex-direction: row;
  }
  .nav-list a {
    margin-left: 2.5vw;
  }
}
@media screen and (min-width: 700px) {
  .nav-list a {
    margin-left: 7vw;
  }
}
