header {
  background-color: var(--blue-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.nav-list ul {
  display: flex;
  flex-direction: column;
}
header img {
  width: min(80vw, 250px);
}
.conteiner-logo {
  padding: 1.5rem 0 1rem 2rem;
}
.nav-list a {
  font-family: AGENCYR;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: var(--lightgrey);
  margin: 0 1rem;
}
.nav-list a:hover {
  color: var(--orange);
}
li {
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0rem;
}
ul {
  list-style-type: none;
}
@media screen and (min-width: 450px) {
  .nav-list ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) {
  .nav-list a {
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-list a {
    margin: 0 3rem;
  }
}
