header {
    background-color: var(--blue-green);
}
header img {
    width: min(50vw, 250px);
}

.nav-list {
    text-align: center;
}

header a {
    font-family: AGENCYB;
    font-weight: bold;
    font-size: 1.1rem;
}
.fa-bars {
    position: relative;
    margin-right: 4rem;
}
li a {
    text-decoration: none;
    color: var(--lightgrey);
}
li {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style-type: none;
}
