@media screen and (min-width: 880px) {
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    border-radius: 1rem;
  }
  .card-one {
    background-position: top;
  }
}

/* background-clip: text;
  color: transparent; */
/* background-size: 300%;
  animation: htitles 20s infinite alternate; */

/* @keyframes htitles {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
} */
