*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AGENCYR";
  src: url(/font/AGENCYR.TTF) format("truetype"),
    url(/font/AGENCYR.woff2) format("woff2");
}
:root {
  --blue-green: #072931;
  --orange: #e97020;
  --darkgrey: #afb8be;
  --lightgrey: #e1e1e1;
}
html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--lightgrey);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* -----------------------------------------main page-------------------------- */
.grid-parent h2,
.grid-parent h1 {
  position: relative;
  display: inline;
  top: 30px;
  left: 10px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue-green);
  background-color: rgba(230, 233, 236, 0.356);
  border-radius: 1rem;
  padding: 5px;
}
.grid-parent h2:hover,
.grid-parent h1:hover {
  color: var(--orange);
}
.grid-parent a {
  text-decoration: none;
}
.card-one {
  background-image: url("../Img/ai-liten.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 300px;
  cursor: pointer;
}
.card-two {
  background-image: url("../Img/stort-rom.jpg");
}
.card-three {
  background-image: url("../Img/vr.jpg");
}
.card-four {
  background-image: url("../Img/folk-som\ jobber.jpg");
}
.card-two,
.card-three,
.card-four {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: min(80vw, 300px);
  cursor: pointer;
}
/* ------------------------Get involved----------------------- */
.titles-info,
.titles-get,
.titles-prog {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.wrapper-container-get {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 5rem 0;
  max-width: 700px;
  height: 100%;
  box-shadow: 7px 13px 10px var(--blue-green);
  border-radius: 20px;
  background-color: var(--darkgrey);
}
.wrapper-container-get .box-get {
  width: 310px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.wrapper-exp-cvc {
  justify-content: space-evenly;
  display: flex;
  column-gap: 10px;
}
.wrapper-exp-cvc div {
  flex: 1;
}
.box-get h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
.box-get p {
  max-width: 100%;
  color: var(--blue-green);
  font-size: 1.1rem;
}
.box-get input {
  max-width: 310px;
  background: rgba(83, 106, 136, 0.2);
  border: none;
  border-bottom: 3px solid var(--blue-green);
  border-radius: 5px;
}
.box-get label {
  font-size: 1.1rem;
  font-weight: 500;
}
.btc-get {
  max-width: 150px;
  margin: auto;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--lightgrey);
  border: 2px solid var(--blue-green);
  color: var(--blue-green);
  margin-top: 1rem;
  padding: 1rem;
}
.btc-get:hover {
  color: var(--orange);
  background-color: var(--blue-green);
}
.box-get textarea {
  background-color: var(--darkgrey);
  border: 2px solid var(--blue-green);
  border-radius: 5px;
  max-height: 140px;
}
/* --------------------------- programs page------------------------ */
.titles {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.box-programs img {
  object-fit: cover;
  object-position: center;
  max-height: 400px;
  width: 100%;
}
.wrapper-programs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: 150px;
  margin-bottom: 1rem;
}
.wrapper-programs p {
  padding: 0 1rem;
  margin-top: 1rem;
  max-width: 90%;
  min-height: 5rem;
}
.form-morebutten {
  border: 2px solid var(--blue-green);
  border-radius: 1rem;
  background-color: var(--blue-green);
  padding: 0 1rem;
  cursor: pointer;
}
.form-morebutten button {
  background-color: transparent;
  color: var(--lightgrey);
  cursor: pointer;
}
.form-morebutten button:hover {
  color: var(--orange);
}
/* ----------------programs info page---------- */
.box-bigone {
  width: 100%;
}
.box-bigtwo {
  width: 100%;
}
.box-bigone img,
.box-bigtwo img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: center;
}
.ex-info,
.trip-info {
  padding: 0 1rem;
}
article {
  justify-self: center;
  align-self: center;
}
.ex-info h1 {
  font-size: 2rem;
  font-weight: 500;
}
.trip-info p,
.ex-info p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1rem 0;
}
.trip-info h2 {
  font-size: 1.5rem;
}
.form-classtrip {
  max-width: 200px;
  margin-top: 1rem;
}
.form-classtrip button {
  border-radius: 1rem;
  border: 2px solid var(--blue-green);
  padding: 0.5rem;
  background-color: var(--darkgrey);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.form-classtrip button:hover {
  color: var(--orange);
  background-color: var(--blue-green);
}
/* -------------about us----------------- */
.big-building img {
  width: 100%;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.grid-about h1,
.grid-about h2 {
  font-size: 1.7rem;
}
.grid-about p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem 0;
}
.grid-about i {
  font-size: 2rem;
  padding: 1rem;
}
.grid-about :nth-child(1),
.grid-about :nth-child(2),
.grid-about :nth-child(3),
.grid-about :nth-child(4) {
  padding: 0 1rem;
}
